@font-face {
  font-family: 'OverpassMono';
  font-style: normal;
  font-weight: 400;
  src: local('OverpassMono'), local('OverpassMono-Light'),
       url('../fonts/OverpassMono-Light.woff2') format('woff2');
}
body {
  font-family: 'OverpassMono', sans-serif;
}
h1, h2, h3, h4, h5, h6, .nav, .article-duration, .archive-item-link, .footer {
  font-family: 'OverpassMono', sans-serif;
}

